:root {
    /* Primary color shades */
    --md-primary-fg-color: hsla(207, 90%, 54%, 1);
    --md-primary-fg-color--light: hsla(207, 90%, 61%, 1);
    --md-primary-fg-color--dark: hsla(210, 79%, 46%, 1);
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
}